*.exe
/Java he/Thread Netbean/Thread/nbproject/private/
/Java he/Thread Netbean/Thread/build/
/Java he/Thread Netbean/Thread/dist/
/Java he/Thread Netbean/File/nbproject/private/
/Java he/Thread Netbean/File/build/
/Java he/Thread Netbean/NguyenLamAnh-B18DCCN022/nbproject/private/
/Java he/Thread Netbean/NguyenLamAnh-B18DCCN022/build/
/Java he/Thread Netbean/kt3/nbproject/private/
/Java he/Thread Netbean/kt3/build/
./Java he/Thread Netbean/kt3/dist/
/Java he/Thread Netbean/JavaApplication8/nbproject/private/
/Java he/Thread Netbean/JavaApplication8/build/
/Java he/Thread Netbean/test/nbproject/private/
/montn1/JavaApplication2/nbproject/private/
/montn1/nbproject/private/
/montn1/build/
/montn1/dist/
