*.exe
/Java he/Thread Netbean/Thread/nbproject/private/
/Java he/Thread Netbean/Thread/build/
/Java he/Thread Netbean/Thread/dist/
/Java he/Thread Netbean/File/nbproject/private/
/Java he/Thread Netbean/File/build/
/Java he/Thread Netbean/NguyenLamAnh-B18DCCN022/nbproject/private/
/Java he/Thread Netbean/NguyenLamAnh-B18DCCN022/build/
/Java he/Thread Netbean/kt3/nbproject/private/
/Java he/Thread Netbean/kt3/build/
./Java he/Thread Netbean/kt3/dist/
/Java he/Thread Netbean/JavaApplication8/nbproject/private/
/Java he/Thread Netbean/JavaApplication8/build/
/Java he/Thread Netbean/test/nbproject/private/
/montn1/JavaApplication2/nbproject/private/
/montn1/nbproject/private/
/montn1/build/
/montn1/dist/
/KTJV/nbproject/private/
/KTJV/build/
/Ky Thuat Lap Trinh - Mon TN 1/KiemTra Mon TN1/KTJV/nbproject/private/
/Ky Thuat Lap Trinh - Mon TN 1/montn1/build/
/Ky Thuat Lap Trinh - Mon TN 1/montn1/nbproject/private/
/Ky Thuat Lap Trinh - Mon TN 1 nam 4/KiemTra Mon TN1/KTJV/nbproject/private/
/Ky Thuat Lap Trinh - Mon TN 1 nam 4/montn1/build/
/Ky Thuat Lap Trinh - Mon TN 1 nam 4/montn1/nbproject/private/
/Ky Thuat Lap Trinh/KiemTra Mon TN1/KTJV/nbproject/private/
/Ky Thuat Lap Trinh/montn1/build/
/Ky Thuat Lap Trinh/montn1/nbproject/private/
/KTJV3/nbproject/private/
/KTJV3/build/
/Ky Thuat Lap Trinh/KTLT/build/
/Ky Thuat Lap Trinh/KTLT/dist/
/QLDuaXeF1/target/
/DuaXeF1/nbproject/private/
/DuaXeF1/build/
/DuaXeF1/dist/
.DS_Store