
/*body {
    margin-left: 250px;
    margin-right: 250px;
    min-height: 600px;
    padding: 30px;
}*/
/*table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}*/

.dangnhap{
    margin-top: 10%;
}
